@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass-effect {
    @apply rounded-lg border border-solid border-black/10 bg-white/30 shadow-lg backdrop-blur-lg;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
